@use '@common/styles/variables.scss' as variables;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.page {
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

//TO THINK: relocate .header and .title to a separate file
.header {
  padding: 8px 16px 0;
  border-bottom: 1px solid variables.$divider-grey;
}

.title {
  height: 48px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: variables.$dark-text-color;
  padding: 8px;
  margin: 0;
}
