//TO DO: improve names
//TO THINK: add unit for margins and paddings, border-radius

$dark-text-color: #050510;
$slightly-dark-text-color: #55555c;
$light-dark-text-color: #97979b;

$main-blue: #6534ff;

$divider-grey: #c3c3c6;

$background-light: #f7f7f8;
$background-dark-with-opacity-color: #05051029;

$pure-white-color: #fff;
