@use '../../../../common/styles/variables.scss' as variables;

.no-data-found {
  width: 343px;
  height: 118px;
  margin: auto;

  &__img {
    width: 56px;
    height: 56px;
    display: block;
    margin: 0 auto;
  }

  &__info {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    color: variables.$dark-text-color;
    text-align: center;
    margin: 0;
    margin-top: 8px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: variables.$light-dark-text-color;
    text-align: center;
    margin: 0;
    margin-top: 12px;
  }
}
