@use '../../common/styles/variables.scss' as variables;

.header {
  padding: 8px 16px 0;
  border-bottom: 1px solid variables.$divider-grey;
}

.title {
  height: 48px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: variables.$dark-text-color;
  padding: 8px;
  margin: 0;
}
